* {
    background-color: aqua;
    color: black;
    font-family: 'DOSSaemmul';  
}
@font-face {
    font-family: 'DOSSaemmul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSSaemmul.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
header > * {
    padding: 0%;
    margin: auto;
    margin-top: 1%;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:1%;
}
footer > p {
    border: 1px solid black;
    padding: 1%;
    border-radius: 10%;
}